
* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    
}
header {
    width: 100%;
    background: none;
    margin-bottom: 50px;
    background-image: url('./banner.jpg');
    background-size: cover;
}
header > h1 {
    font-size: 80px;
    padding-left:5%;
    margin-top: 75px;
    margin-bottom: 0;
    font-weight: bolder;
    letter-spacing: .1em;
    padding-bottom: 0;
    
  }
header > h2 {
    margin-left: 5%;
    padding-left: 5%;
    font-weight: 900;
    margin-bottom: 50px;
}
.intro {
    padding-right: 2%;
    padding-left: 2%;
    width: 45%;
    margin-left: 2%;
    margin-bottom: 50px;
    line-height: 1.5em;
    font-size: 18px;
    border-right: 3px solid rgb(167, 11, 11);
    border-bottom: 3px solid rgb(167, 11, 11);
    border-bottom-right-radius: 5%;
    box-shadow: 1px 1px 1px black;
}
body {
    display: flex;
    flex-direction: column;
    border: none;
    margin: 0;
    }

#caloriesID, #dietID {
    font-size: 1.35em;
    color: green;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: .06em;
    border-bottom: 3px solid green;

}
#eat {
    font-size: 1.5em;
    color: green;
}
#not {
    color: rgb(167, 11, 11);
    font-size: 1.35em;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: .06em;
    border-bottom: 3px solid rgb(167, 11, 11);
}
.iconList {
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    max-width: 95%;
    
}
.iconList img {
    max-height: 85px;
    max-width: 85px;
    background: green;
}
#ingredient {
    width: 250px;
    height: 40px;
    font-size: 16px;
    margin-bottom: 25px;
    border: 3px solid black;
    padding: 1%;
    box-shadow: 1px 1px 1px black;

}
.ingredientForm {
    display: flex;
    flex-direction: column;
    padding: 1%;
}

#ingredientButton {
    height: 50px;
    width: 175px; 
    align-self: center;
    cursor: pointer;
    font-size: 20px;
    background: white;
    box-shadow: 1px 1px 1px black;
    border: 3px solid black;
}
#ingredientButton:hover {
    background: black;
    color: white;
    transition: .5s;
}
#ingredientButton:active {
    box-shadow: 3px 3px 3px white;
}
.formWidth {
    display:flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}
.mealIntro {
    font-size: 22px; 
    line-height: 1.5em;
    font-weight: bolder;
    padding: 1.25%;
    color: rgb(189, 8, 8);
}
main {
    display: flex;
    justify-content: center;
    
}
.formList {
    list-style: none;
    padding-left: 2%;
    font-size: 1.5em;
    font-weight: bolder;
    width: 80%
}
#diet, #exclude {
    width: 220px;
    padding-left: 1%;
}
#calories,#diet,#exclude {
    font-size: 20px;
    height: 50px;
}
#calories {
    width: 100px;
}

select {
    opacity: .7;
    border: 3px solid black;
    box-shadow: .5px .5px .5px black;
}
.underHeader {
    display: flex;
    justify-content: space-between;
}
.intro2 {
    width: 40%;
    margin-right: 2%;
    font-family: 'Bebas Neue', cursive;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1%;
    background: green;
    color: white;
    box-shadow: 3px 3px 3px black;
    border: 3px solid black;
}
.intro2 > h2 {
    padding-left: 2%;
}
.hidden {
    display: none;
}
.listContainer {
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    margin-right: 2%;
    padding-left: 0;
}
.regulateWidth {
    width: 40%;
    margin-left: 2%;
}
.subList > h3 {
    font-weight: bolder;
}

.formList input {
    width: 250px;
    height: 25px;
    border: 3px solid black;
    padding: .75%;
    margin-top: 10px;
    margin-bottom: 10px;
    opacity: .7;
    color: black;
    box-shadow: .75px .75px .75px black;
}
.subList {
    list-style: none;
    border: 7px solid rgb(231, 231, 65);
    padding: 2%;
    line-height: 1.5em;
    
}
.mainButton {
    width: 95%;
    min-height: 125px;
    font-size: 2em;
    font-weight: bolder;
    margin: auto 2%;
    line-height: 1.5em;
    background-position: center;
    color: white;
    background: green;
    border: 3px solid black;
    opacity: .9;
    transition: all .75s ease-in-out;
}
.mainButton:hover {
    cursor: pointer;
    background: url('./buttonborder.jpg');
    background-size: cover;
    color: black;
    transition: all .75s ease-in-out;
}
p{
    text-align: left;
}
.section1 {
    margin-bottom: 0;
}
footer {
    width: 100%;
    min-height: 50px;
}
.hidden {
   display: none;
}
#clear {
    cursor: pointer;
}
.formSection {
    background: none;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    max-height: 80%;
}
.mealList {
    padding-top: 2%;
    list-style: none;
    margin-left: 50px;
    margin-right: 50px;
    padding-bottom: 0;
}
.days {
    font-weight: 900;
}
.meal {
    color: black;
    font-weight: 900;
    text-decoration: none;
}
.mealLink {
    text-decoration: none;
}
.mealWeek {
    background-image: url('./listbackground.jpg');
    background-size: cover;
    background-position: center;
}
.mealLink:hover {
    text-decoration: underline;
}
#calorieCount, #proteinCount, #fatCount, #carbCount {
    font-size: 1.2em;
    font-weight: bolder;
    color: green;
}
.nutrition {
    list-style: none;
    line-height: 1.5em;
    margin-top: 0;
    padding-top: 0;
    font-size: 1.1em;
    padding-bottom:2%;
    margin-left: 50px;
    margin-right: 50px
}
.divider {
    color: rgb(167, 11, 11);
    font-size: 1.5em;
    opacity: .5
}
@media only screen and (max-width: 720px){
    #ingredient {
        max-width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    .mainForm {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .listContainer {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    .mealList {
        padding-left: 0;
        margin-bottom:0;
        padding-bottom: 0;
    }
    .subList {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    .regulateWidth {
        width: 90%;
    }
    .formWidth {
        display: flex;
        flex-direction: column;
    }
    .underHeader {
        flex-direction: column;
    }
    .intro, .intro2 {
        width: 95%;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
    }
    .intro2 > h2 {
        font-size: 20px;
        text-align: center;
    }
}
@media only screen and (max-width: 520px){
    header > h1 {
        font-size: 50px;
    }
    header > h2 {
        font-size: 1.2em;
    }
}
@media only screen and (min-width: 720px) and (max-width: 900px){
    .iconList img {
        height: 70px;
        width: 70px;
    }
}


